<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" integrity="sha256-o8bM0Z5cFvrvvvQp0EJFi4LICvBA9FCx7iCNuojVsN8=" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha256-rsPUGdUPBXgalvIj4YKJrrUlmLXbOb6Cp7cdxn1qeUc=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

<h1>Tokens</h1>

#foreach ($token in $grammar.tokens)
    <!-- $esc.html($token) -->

    <h2 id="$helper.a($token)">${token}</h2>

## Matcher: ${token.matcher}
## Transitions: ${token.transitions}

#end##token

<h1>Productions</h1>

#foreach ($production in $grammar.cstProductions)
    <!-- $esc.html($production) -->

    <h2 id="$helper.a($production)">${production.name} { -&gt;
#foreach ($transformPrototype in $production.transformPrototypes)
        <a href="#$helper.a($transformPrototype.symbol)">${transformPrototype}</a>
#end##transformPrototype
    }</h2>

#foreach ($alternative in $production.alternatives)
    <!-- $esc.html($alternative) -->

    <h3 id="$helper.a($alternative)">${alternative.name}</h3>

	<div class="well">
    =
#foreach ($element in $alternative.elements)
        <a href="#$helper.a($element.symbol)">${element}</a>
#end##element

<br />

    { ->
#foreach ($transformExpression in $alternative.transformExpressions)
    $transformExpression
#end##transformExpression
    } ;
	</div>

#end##alternative
#end##production

#if (!$grammar.externals.isEmpty())
<h1>Externals</h1>

#foreach ($external in $grammar.externals)
    <!-- $esc.html($external) -->

    <h2 id="$helper.a($external)">${external.name} (${external.javaTypeName})</h2>

#end##external
#end

<h1>Abstract Syntax Tree</h1>

#foreach ($production in $grammar.astProductions)
    <!-- $esc.html($production) -->

    <h2 id="$helper.a($production)">${production.name} (${production.javaTypeName})</h2>
#foreach ($alternative in $production.alternatives)
    <!-- $esc.html($alternative) -->

    <h3 id="$helper.a($alternative)">${alternative.name} (${alternative.javaTypeName})</h3>

	<div class="well">
    =
<ul>
#foreach ($element in $alternative.elements)
        <li><a href="#$helper.a($element.symbol)">${element}</a>
        <ul>
            <li>Java: ${element.javaTypeName} get${element.javaMethodName}()
        </ul>
#end##element
#foreach ($external in $alternative.externals)
        <li><a href="#$helper.a($external.symbol)">${external}</a>
        <ul>
            <li>Java: ${external.javaTypeName} get${external.javaMethodName}()
        </ul>
#end##element
</ul>
        ;
	</div>

#end##alternative
#end##production

    </div>
</body>
</html>
