<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- ${header} -->
<html lang="en">
<head>
<title>${grammarName} - ${listTitle}</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css" title="Style">
</head>
<body>
<h1 class="bar">${listTitle}</h1>
<div class="indexContainer">

#if ($helper.isListAstProductions($listGroups) && !$helper.isListUnused($listGroups))
<h2>AST Roots</h2>
<ul>
#foreach ($object in $helper.astProductionRootsAlphabetical)
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a> (##
#foreach ($annotation in $helper.getAstProductionParserStartAnnotations($object))##
$!esc.html($annotation)Parser#{if}($velocityHasNext), #{end}##
#end##getAnnotations
)</li>
#end
</ul>
#end##isListAstProductions

#if ($helper.isListCstProductions($listGroups) && !$helper.isListUnused($listGroups))
<h2>CST Roots</h2>
<ul>
#foreach ($object in $grammar.cstProductionRootsAlphabetical)
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a> (##
#foreach ($annotation in $helper.getAnnotations($object, 'ParserStart'))##
$!esc.html($annotation)Parser#{if}($velocityHasNext), #{end}##
#end##getAnnotations
)</li>
#end
</ul>
#end##isListCstProductions

#if ($helper.isListAstProductions($listGroups))
<h2>AST Productions</h2>
<ul>
#foreach ($object in $grammar.astProductionsAlphabetical)
#if ($helper.isListModel($listGroups, $object))
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a></li>
#end
#end
</ul>
#end##isListAstProductions

#if ($helper.isListCstProductions($listGroups))
<h2>CST Productions</h2>
<ul>
#foreach ($object in $grammar.cstProductionsAlphabetical)
#if ($helper.isListModel($listGroups, $object))
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a></li>
#end
#end
</ul>
#end##isListCstProductions

#if ($helper.isListAstAlternatives($listGroups))
<h2>AST Alternatives</h2>
<ul>
#foreach ($object in $grammar.astProductionsAlphabetical)
#foreach ($subobject in $object.alternatives)
#if ($helper.isListModel($listGroups, $subobject))
<li><a href="${helper.a($subobject)}.html" target="objectFrame">${subobject.name}</a></li>
#end
#end
#end
</ul>
#end##isListAstProductions

#if ($helper.isListCstAlternatives($listGroups))
<h2>CST Alternatives</h2>
<ul>
#foreach ($object in $grammar.cstProductionsAlphabetical)
#foreach ($subobject in $object.alternatives)
#if ($helper.isListModel($listGroups, $subobject))
<li><a href="${helper.a($subobject)}.html" target="objectFrame">${subobject.name}</a></li>
#end
#end
#end
</ul>
#end##isListCstProductions

#if ($helper.isListTokens($listGroups))
<h2>Tokens</h2>
<ul>
#foreach ($object in $grammar.tokensAlphabetical)
#if ($helper.isListModel($listGroups, $object))
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a></li>
#end
#end
</ul>
#end

#if ($helper.isListHelpers($listGroups))
<h2>Helpers</h2>
<ul>
#foreach ($object in $grammar.helpersAlphabetical)
#if ($helper.isListModel($listGroups, $object))
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a></li>
#end
#end
</ul>
#end

#if ($helper.isListExternals($listGroups))
<h2>Externals</h2>
<ul>
#foreach ($object in $grammar.externalsAlphabetical)
#if ($helper.isListModel($listGroups, $object))
<li><a href="${helper.a($object)}.html" target="objectFrame">${object.name}</a></li>
#end
#end
</ul>
#end

</div>
</body>
</html>

