<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- ${header} -->
#parse("org/anarres/polyglot/output/html/macros.vm")
#head("Token", $model)
#header("Token", $model)

<div class="contentContainer">

#@description($model)
<pre>#annotations($model)</pre>
#end

#@section("summary")
#@summary("lexer", "Lexical Summary")

		<tr>
			<th class="colOne">Regular Expression</th>
		</tr>
		<tr class="altColor">
			<td class="colOne"><code>= $helper.toRegex($model.matcher, "", ".html")</code></td>
		</tr>

#end##summary
#end##section

#@section("usage")

#@summary("cst", "Usage Summary (CST References)")
		<tr>
			<th class="colFirst">CST Production</th>
			<th class="colLast">CST Elements</th>
			<th class="colLast">Description</th>
		</tr>
#foreach ($alternative in $helper.getTokenCstAlternativeUsage($model))
		<tr class="altColor">
			<td class="colFirst"><code><a href="${helper.a($alternative)}.html">${alternative.name}</a></code></td>
			<td class="colLast"><code>=
#foreach ($element in $alternative.elements)
				<a href="${helper.a($element.symbol)}.html">${element}</a>
#end
			</code></td>
			<td class="colLast">$helper.toJavadocSummary($alternative)</td>
		</tr>
#end##alternative
#end##summary

#@summary("ast", "Usage Summary (AST References)")
		<tr>
			<th class="colFirst">AST Production</th>
			<th class="colLast">AST Elements</th>
			<th class="colLast">Description</th>
		</tr>
#foreach ($alternative in $helper.getTokenAstUsage($model))
		<tr class="altColor">
			<td class="colFirst"><code><a href="${helper.a($alternative)}.html" title="${alternative.javaTypeName}">${alternative.name}</a></code></td>
			<td class="colLast"><code>=
#foreach ($element in $alternative.elements)
				<a href="${helper.a($element.symbol)}.html" title="$helper.toJavaMethodPrototype($element)">${element}</a>
#end
			</code></td>
			<td class="colLast">$helper.toJavadocSummary($alternative)</td>
		</tr>
#end##alternative
#end##summary

#end##section

</div><!-- contentContainer -->

#foot($model)
