/* ${header} */
package ${grammar.package.packageName}.node;

import javax.annotation.Nonnull;

/**
 * A listener which is notified about node-clone events.
 * This is a useful way to preserve metadata about nodes over clone operations.
 */
public interface CloneListener {

	public static final CloneListener NONE = new CloneListener() {
		@Override
		public <T extends Node> void fireNodeCloned(T prev, T repl) {
		}
	};

    public <T extends Node> void fireNodeCloned(@Nonnull T prev, @Nonnull T repl);
}
