/* ${header} */
package ${grammar.package.packageName}.analysis;

import java.util.ArrayList;
import java.util.List;
import javax.annotation.Nonnull;
import ${grammar.package.packageName}.node.*;

/**
 * A VisitorAdapter which walks the tree depth first, in a left-to-right manner.
 *
 * @param <I> The type of the auxiliary argument to the visitor methods; use Void and pass null if not required.
 * @param <O> The return type of the visitor methods; use Void and return null if not required.
 * @param <X> The common supertype of checked exceptions thrown by the visitor methods; use RuntimeException if not required.
 *
 * @see VisitorAdapter
 * @see AbstractVisitorAdapter
 * @see DepthFirstAdapter
 */
public class DepthFirstVisitor<I, O, X extends Exception> extends VisitorAdapter<I, O, X> {

    public O inDefault(@Nonnull Node node, I input) throws X {
        return null;
    }

    public O outDefault(@Nonnull Node node, I input, O inResult) throws X {
        return inResult;
    }

    public O inStart(@Nonnull Start node, I input) throws X {
        return inDefault(node, input);
    }

    public O outStart(@Nonnull Start node, I input, O inResult) throws X {
        return outDefault(node, input, inResult);
    }

    @Override
    public O visitStart(Start node, I input) throws X {
        O inResult = inStart(node, input);
        node.get${grammar.astProductionRoot.javaMethodName}().apply(this, input);
        node.getEOF().apply(this, input);
        return outStart(node, input, inResult);
    }

#foreach ($production in $grammar.astProductions)
    // Production: $production
#foreach ($alternative in $production.alternatives)
    // Alternative: $alternative
    public O in${alternative.javaMethodName}(@Nonnull ${alternative.javaTypeName} node, I input) throws X {
        return inDefault(node, input);
    }

    public O out${alternative.javaMethodName}(@Nonnull ${alternative.javaTypeName} node, I input, O inResult) throws X {
        return outDefault(node, input, inResult);
    }

    @Override
    public O visit${alternative.javaMethodName}(${alternative.javaTypeName} node, I input) throws X {
        O inResult = in${alternative.javaMethodName}(node, input);

#foreach ($element in $alternative.elements)
#if ($element.list)
        {
            List<${element.javaTypeName}> copy = new ArrayList<${element.javaTypeName}>(node.get${element.javaMethodName}());
            for (${element.javaTypeName} e : copy)
                e.apply(this, input);
        }
#else##list
        {
            ${element.javaTypeName} e = node.get${element.javaMethodName}();
            if (e != null)
                e.apply(this, input);
        }
#end##list
#end##foreach element

        // These are emitted in order of definition, but universally after elements.
#foreach ($external in $alternative.externals)
        $helper.getExternalMethodName($external.javaTypeName)(node, "${external.name}", node.get${external.javaMethodName}(), input);
#end##foreach alternative.externals

        return out${alternative.javaMethodName}(node, input, inResult);
    }

#end
#end

}
