#macro(import $object)
#foreach ($class in $helper.getAnnotations($object, "javaImport"))
import $class;
#end
#end
#macro(implement $object)
#foreach ($interface in $helper.getAnnotations($object, "javaImplements"))
		, $interface
#end
#end
##
#macro(annotate $object $name)
#foreach ($annotation in $helper.getAnnotations($object, $name))
	$annotation
#end
#if ($object.javaTypeName.endsWith("Exception") && $helper.isOption("CG_FINDBUGS"))
@SuppressWarnings("NM_CLASS_NOT_EXCEPTION")
#end
#end
