/* ${header} */
package ${grammar.package.packageName}.parser;

import javax.annotation.Nonnull;
import ${grammar.package.packageName}.node.Token;

public class ParserException extends Exception {

    @Nonnull
    private static String toMessage(@Nonnull Token token, @Nonnull String message) {
        return message + " but got " + token.getClass().getSimpleName() + ": " + token.getText();
    }

    @Nonnull
    private final Token token;

    public ParserException(@Nonnull Token token, @Nonnull String message) {
        super(toMessage(token, message));
        this.token = token;
    }

	@Nonnull
    public Token getToken() {
        return this.token;
    }

    @Override
    public String toString() {
        return "[" + token.getLine() + "," + token.getColumn() + "] " + getMessage();
    }
}
