/* ${header} */
package ${grammar.package.packageName}.node;

import javax.annotation.CheckForNull;
import javax.annotation.Nonnull;
import java.util.List;

#parse("org/anarres/polyglot/output/java/macros.vm")
#import($production)

#if ($helper.isOption("CG_APIDOC"))
#if ($production.javadocComment)
$production.javadocComment
#else
## No default javadoc - (a) information leakage, (b) javadoc performance sucks.
## /** ${production} */
/** The abstract superclass of all ${production.name} alternatives. */
#end
#end##CG_APIDOC
#annotate($production, 'javaClassAnnotation')
${generated}
public abstract class ${production.javaTypeName}
		extends $helper.getSuperClass($production, "Node")
		implements IProduction
#implement($production)
		{

	public static final ${production.javaTypeName}[] EMPTY_ARRAY = new ${production.javaTypeName}[0];

	/** Default nullary constructor. */
	public ${production.javaTypeName}() {
	}


	@Override
	public abstract ${production.javaTypeName} clone();

	@Override
	public abstract ${production.javaTypeName} clone(@Nonnull CloneListener listener);
}
