/* ${header} */
package ${grammar.package.packageName}.node;

import javax.annotation.CheckForNull;
import javax.annotation.Nonnull;

#parse("org/anarres/polyglot/output/java/macros.vm")

#if ($production.javadocComment)
$production.javadocComment
#else
## No default javadoc - (a) information leakage, (b) javadoc performance sucks.
## /** ${production} */
/** The abstract superclass of all ${production.name} alternatives. */
#end
#annotate($production)
public abstract class ${production.javaTypeName} extends Node
        implements IProduction
#implement($production)
        {

    /** Default nullary constructor. */
    public ${production.javaTypeName}() {
    }

    @Override
    public abstract ${production.javaTypeName} clone();

    @Nonnull
    public abstract ${production.javaTypeName} clone(@Nonnull CloneListener listener);
}
