/* ${header} */
package ${grammar.package.packageName}.analysis;

import java.util.Arrays;
import java.util.ArrayList;
import java.util.Collections;
import java.util.List;
import javax.annotation.Nonnull;
import ${grammar.package.packageName}.node.*;

/**
 * An AnalysisAdapter which walks the tree depth first, in a right-to-left (reversed) manner.
 */
${generated}
public class ReversedDepthFirstAdapter extends AnalysisAdapter {

	public void defaultIn(@Nonnull Node node) {
	}

	public void defaultOut(@Nonnull Node node) {
	}

#foreach ($parserMachine in $parserMachines)
	public void in${parserMachine.startClassName}(@Nonnull ${parserMachine.startClassName} node) {
		defaultIn(node);
	}

	public void out${parserMachine.startClassName}(@Nonnull ${parserMachine.startClassName} node) {
		defaultOut(node);
	}

	@Override
	public void case${parserMachine.startClassName}(${parserMachine.startClassName} node) {
		in${parserMachine.startClassName}(node);
		applyTo(node.getEOF());
		applyTo(node.get${parserMachine.astProductionRoot.javaMethodName}());
		out${parserMachine.startClassName}(node);
	}

#end
#foreach ($production in $grammar.astProductions)
	// Production: $production
#foreach ($alternative in $production.alternatives)
	// Alternative: $alternative
	public void in${alternative.javaMethodName}(@Nonnull ${alternative.javaTypeName} node) {
		defaultIn(node);
	}

	public void out${alternative.javaMethodName}(@Nonnull ${alternative.javaTypeName} node) {
		defaultOut(node);
	}

	@Override
	public void case${alternative.javaMethodName}(${alternative.javaTypeName} node) {
		in${alternative.javaMethodName}(node);

#foreach ($external in $alternative.externalsReversed)
		// External $external.name
#end##foreach alternative.externals

#foreach ($element in $alternative.elementsReversed)
#if ($element.list)
		applyToCopyOfReversed(node.get${element.javaMethodName}());
#else##list
		applyTo(node.get${element.javaMethodName}());
#end##list
#end##foreach element

		out${alternative.javaMethodName}(node);
	}

#end
#end

}
