/* ${header} */
package ${grammar.package.packageName}.lexer;

import javax.annotation.CheckForSigned;
import javax.annotation.Nonnegative;
import javax.annotation.Nonnull;
import ${grammar.package.packageName}.node.*;

/**
 * A fast string-reading concrete lexer implementation.
 */
${generated}
public class ${lexerMachine.getLexerClassName("", "String")} extends ${lexerMachine.getLexerClassName("Abstract", "")} {

	protected final String in;
	private int offset;
	private int line;
	private int column;
	private boolean cr;

	public ${lexerMachine.getLexerClassName("", "String")}(@Nonnull String in) {
		this.in = in;
	}

	@Override
	protected Token getToken() throws LexerException {
		int dfa_state = 0;

		final int start_offset = this.offset;
		final int start_line = this.line;
		final int start_column = this.column;
		final String in = this.in;
		final int in_length = in.length();

		int current_offset = this.offset;

		int accept_token = 0;
		int accept_offset = current_offset;

		int state_id = this.state.id();
		final int[][] gotoTableEntry = gotoTable[state_id];
		final int[] acceptTableEntry = acceptTable[state_id];

		for (;;) {
			if (current_offset < in_length) {
				int c = in.charAt(current_offset++);
				int[] gotoTableItem = gotoTableEntry[dfa_state];
				dfa_state = search(gotoTableItem, c);
			} else {
				dfa_state = -1;
			}
#if ($helper.isOption("CG_DEBUG"))
			debug_transition(current_offset, dfa_state);
#end##CG_DEBUG

			if (dfa_state >= 0) {
				// If there was a valid transition found on this character.
				int acceptTableItem = acceptTableEntry[dfa_state];
				ACCEPT:
				if (acceptTableItem != 0) {
#if ($helper.isPredicated($lexerMachine))
					if (!isValidToken(acceptTableItem, start_offset, current_offset))
						break ACCEPT;
#end##isPredicated
					accept_token = acceptTableItem;
					accept_offset = current_offset;
				}
			}
			else {
				// If there was no valid transition found, then we accept from the last accept state.
				int tok_line = start_line + 1;
				int tok_column = start_column + 1;
				accept_at(accept_offset);
#if ($helper.isLarge($lexerMachine)) ## lexer-large
				switch (accept_token >>> $helper.lexerGroupShift) {
#foreach ($lexerGroup in $helper.lexerGroups)
					case ${lexerGroup.index}:
						return lex${lexerGroup.javaMethodName}(accept_token, start_offset, current_offset, accept_offset, tok_line, tok_column);
#end## alternativeGroup
					default:
						throw new IllegalStateException("Internal failure: accept_token=" + accept_token + ", but no handler found.");
				} // switch (accept_group)
#else##lexer-large
				switch (accept_token) {

#foreach ($token in ${grammar.tokensSorted})
					case ${token.index}: {
#if ($helper.isOption("CG_DEBUG"))
						debug_accept(start_offset, accept_offset, current_offset, ${token.javaTypeName}.class);
#end##CG_DEBUG
#if ($token.transitional)
						switch (state) {
#foreach ($transition in $token.transitions)
							case ${transition.key.name}: state = State.${transition.value.name}; break;
#end##foreach transition
							default: break;
						}
#end##token.transitional
						return new ${token.javaTypeName}(
#if (!$token.fixed)
							in.substring(start_offset, accept_offset),
#end## token.fixed
							start_offset, tok_line, tok_column);
					}
#end##foreach token
					case 0:
						return reject_at(start_offset, current_offset, tok_line, tok_column);
					default:
						throw new IllegalStateException("Internal failure: accept_token=" + accept_token + ", but no handler found.");
				} // switch (accept_token)
#end##lexer-large
			}
		}
	}
#if ($helper.isLarge($lexerMachine)) ## lexer-large

#foreach ($lexerGroup in $helper.lexerGroups)
	@Nonnull
#if ($helper.isOption("CG_FINDBUGS"))
## current_offset is unused if we don't enable CG_DEBUG
	@SuppressWarnings({"UnusedVariable"})
#end##CG_FINDBUGS
	private Token lex${lexerGroup.javaMethodName}(
			@Nonnegative int accept_token,
			@Nonnegative int start_offset,
			@Nonnegative int current_offset,
			@Nonnegative int accept_offset,
			@Nonnegative int tok_line,
			@Nonnegative int tok_column) throws LexerException {
		switch (accept_token) {
#foreach ($token in $lexerGroup.tokens)
			case ${token.index}:
#if ($helper.isOption("CG_DEBUG"))
				debug_accept(start_offset, accept_offset, current_offset, ${token.javaTypeName}.class);
#end##CG_DEBUG
#if ($token.transitional)
				switch (state) {
#foreach ($transition in $token.transitions)
					case ${transition.key.name}: state = State.${transition.value.name}; break;
#end##foreach transition
					default: break;
				}
#end##token.transitional
				return new ${token.javaTypeName}(
#if (!$token.fixed)
					in.substring(start_offset, accept_offset),
#end## token.fixed
					start_offset, tok_line, tok_column);
#end##foreach token in lexerGroup
#if ($lexerGroup.index == 0)
			case 0:
				return reject_at(start_offset, current_offset, tok_line, tok_column);
#end
			default:
				throw new IllegalStateException("Illegal token index in group ${lexerGroup.javaMethodName}: " + accept_token);
		}
	}
#end##foreach lexerGroup
#end##large
#if ($helper.isPredicated($lexerMachine))

	protected class ValidityHandle implements CharSequence {

		@Nonnegative
		private int start_offset;
		@Nonnegative
		private int current_offset;

		private void set(@Nonnegative int start_offset, @Nonnegative int current_offset) {
			this.start_offset = start_offset;
			this.current_offset = current_offset;
		}

		/** StringLexer-specific: The offset into the input String of the start of this token, inclusive. */
		@Nonnegative
		public int getStartOffset() {
			return start_offset;
		}

		/** StringLexer-specific: The offset into the input String of the end of this token, exclusive. */
		@Nonnegative
		public int getCurrentOffset() {
			return current_offset;
		}

		/** A utility method for isValid*() overrides: Returns the character n characters after this token, starting with 0. */
		@CheckForSigned
		public int lookahead(@Nonnegative int distance) {
			if (distance < 0)
				throw new IndexOutOfBoundsException();
			int offset = current_offset + distance;
			if (offset < in.length())
				return in.charAt(offset);
			return -1;
		}

		@Override
		public int length() {
			return current_offset - start_offset;
		}

		@Override
		public char charAt(int index) {
			if (index < 0)
				throw new IndexOutOfBoundsException("Illegal negative index.");
			int offset = start_offset + index;
			if (offset >= current_offset)
				throw new IndexOutOfBoundsException("Illegal over-length index.");
			return in.charAt(offset);
		}

		@Override
		public CharSequence subSequence(int start, int end) {
			return in.subSequence(current_offset + start, current_offset + end);
		}

		@Override
		public String toString() {
			return in.substring(start_offset, current_offset);
		}
	}

	private final ValidityHandle validityHandle = new ValidityHandle();
#foreach ($token in ${grammar.tokensSorted})
#if ($helper.hasAnnotation($token, 'LexerPredicated'))

	// @ForOverride
	protected boolean isValid${token.javaTypeName}(@Nonnull ValidityHandle handle) {
		return true;
	}
#end##if-token-LexerPredicated
#end##foreach-token(predicate)

	private boolean isValidToken(
			@Nonnegative int accept_token,
			@Nonnegative int start_offset,
			@Nonnegative int current_offset) {
		switch (accept_token) {
#foreach ($token in ${grammar.tokensSorted})
#if ($helper.hasAnnotation($token, 'LexerPredicated'))
			case ${token.index}:
				validityHandle.set(start_offset, current_offset);
				return isValid${token.javaTypeName}(validityHandle);
#end##if-token-LexerPredicated
#end##foreach-token(predicate)
			default:
				return true;
		}
	}
#end

	private void accept_at(int accept_offset) {
		int current_line = this.line;
		int current_column = this.column;
		boolean current_cr = this.cr;

		for (int i = this.offset; i < accept_offset; i++) {
			int c = in.charAt(i);
			switch (c) {
				case 10:
					if (current_cr) {
						current_cr = false;
					} else {
						current_line++;
						current_column = 0;
					}
					break;
				case 13:
					current_line++;
					current_column = 0;
					current_cr = true;
					break;
				default:
					current_column++;
					current_cr = false;
					break;
			}
		}

		this.offset = accept_offset;
		this.line = current_line;
		this.column = current_column;
		this.cr = current_cr;
	}

	@Nonnull
	private Token reject_at(int start_offset, int current_offset, int tok_line, int tok_column) throws LexerException {
		if (current_offset > start_offset) {
			throw new LexerException(
				new InvalidToken(
					in.substring(start_offset, start_offset + 1),
					start_offset,
					tok_line,
					tok_column),
				// "[" + tok_line + "," + tok_column + "] " +
				"Unknown token: " + in.substring(start_offset, current_offset));
		}
		return new EOF(start_offset, tok_line, tok_column);
	}
#if ($helper.isOption("CG_DEBUG"))

	protected void debug_transition(int current_offset, int dfa_state) {
	}

	protected void debug_accept(int start_offset, int accept_offset, int current_offset, Class<? extends Token> type) {
	}
#end##CG_DEBUG
}
