/* ${header} */
package ${package}.node;

import javax.annotation.Nonnull;
import ${package}.analysis.Visitor;

/**
 * A basic visitor interface.
 *
 * You may prefer to use the {@link Visitor} interface for new code.
 */
public interface Switch {
#foreach ($token in $grammar.tokensAlphabetical)
	public void case${token.javaMethodName}(@Nonnull ${token.javaTypeName} node);
#end
#foreach ($parserMachine in $parserMachines)
	public void case${parserMachine.startClassName}(@Nonnull ${parserMachine.startClassName} node);
#end
#foreach ($production in $grammar.astProductionsAlphabetical)
#foreach ($alternative in $production.alternatives)
	public void case${alternative.javaMethodName}(@Nonnull ${alternative.javaTypeName} node);
#end
#end
	public void caseEOF(@Nonnull EOF node);
	public void caseInvalidToken(@Nonnull InvalidToken node);
}
