/* ${header} */
package ${package}.node;

import javax.annotation.Nonnull;
import ${package}.analysis.Visitor;

/**
 * The target of the basic visitor interface.
 *
 * All {@link Node Nodes} implement both Switchable and {@link Visitable}.
 * You may prefer to use the Visitable interface for new code.
 *
 * @see Switch
 * @see Visitor
 */
public interface Switchable {

	public static final Switchable[] EMPTY_ARRAY = new Switchable[0];

	/** Implements the Visitor pattern. */
	public void apply(@Nonnull Switch s);
}
