/* ${header} */
package ${package}.node;

import javax.annotation.Nonnull;
import ${package}.analysis.Visitor;

/**
 * The target of the basic visitor interface.
 *
 * @see Switch
 * @see Visitor
 */
public interface Switchable {

    /** Implements the Visitor pattern. */
    public void apply(@Nonnull Switch s);
}
