## These methods are in a separate class because hotspot cannot optimize
## static method calls in a class which isn't fully initialized yet.
## https://bugs.openjdk.java.net/browse/JDK-8215634
## This is an inner class because it's required in lexer and parser,
## so if it were shared, it would have to be public.
	private static class V {

		/** Reads a little-endian varint with no optimization for negative numbers. */
		private static int readVarint(@Nonnull DataInputStream in) throws IOException {
			int result = 0;
			for (int shift = 0; shift < 32; shift += 7) {
				int b = in.read();
				if (b == -1)
					throw new EOFException("Truncated varint in stream.");
				result |= (b & 0x7f) << shift;
				if ((b & 0x80) == 0)
					return result;
			}
			throw new IOException("Malformed varint in stream.");
		}

		@Nonnull
		private static int[] readVarintTable(@Nonnull DataInputStream in, @Nonnegative int sublength) throws IOException {
			int len = readVarint(in) * sublength;
			int[] out = new int[len];
			for (int i = 0; i < len; i++)
				out[i] = readVarint(in);
			return out;
		}
	}
