/* ${header} */
package ${package}.node;

import javax.annotation.Nonnull;
import ${package}.analysis.Visitor;

/**
 * The target of the advanced visitor interface.
 *
 * @see Visitor
 */
${generated}
public interface Visitable {

	public static final Visitable[] EMPTY_ARRAY = new Visitable[0];

	/**
	 * Implements the Visitor pattern.
	 *
	 * @param visitor The visitor to apply.
	 * @param input The input to pass to the visitor method.
	 * @return The return value from the {@link Visitor}.
	 * @throws X if the underlying visitor throws X.
	 */
	public <I, O, X extends Exception> O apply(@Nonnull Visitor<I, O, X> visitor, I input) throws X;
}
